{% extends 'base.html.twig' %}

{% block stylesheets %}
    <script>
        window.location = "{{ mwebUrl }}";
    </script>
{% endblock %}
{% block body %}

    {#<a href="{{ mwebUrl }}">Pay</a>#}
{% endblock %}